/*
   Splash User Home page style sheet
   Author: Michael Haight & Mohamed Saleh
   Date:   10/31/2015

   Filename: useritemlistsstyles.css
   Supporting Files: none

*/

/* Section Styles */

body {
	margin: 0px auto;
	padding: 0px;
	line-height: 1.5em;
	width: 98%;
	max-width: 980px;
	min-width: 250px;
	font-family: Verdana, Geneva, sans-serif
}

header {
	width: 100%;
	margin-top: 2em;
	text-align: center;
}

section {
	width: 60%;
	float: left;
}

/* Block Styles */
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}

header h1 {
	margin: 1em 0em 0em 0em;
	font-size: 2em;
	position: relative;
	Top: 2em;
	right: 5em;
}

article{
	position: relative;
	height: 30em;
	width: 60em;
	top: 5em;
	left: 0em;
	overflow: auto;
}

aside input{
	display: block;
	margin: 0em 0em 1em 0em;
	height: 2em;
	width: 7em;
	position: relative;
	bottom: 20em;
	left: 75em;
}

aside a{
	display: inline;
	float: left;
	margin: 0em 0em 0em 1em;
	position: relative;
	bottom: 45em;
	left: 80em;
	font-size: 14px;
}
