/*
   Splash Page style sheet
   Author: Michael Haight & Mohamed Saleh
   Date:   10/31/2015

   Filename:         splashpagestyles.css
   Supporting Files: none

*/

/* Section Styles */

body {
	margin: 0px auto;
	padding: 0px;
	line-height: 1.5em;
	width: 98%;
	max-width: 980px;
  max-height: 780px;
	min-width: 250px;
	font-family: Verdana, Geneva, sans-serif
}

header {
	width: 100%;
	margin-top: 2em;
	text-align: center;
}

section {
	width: 66%;

}

/* Block Styles */
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}

header h1 {
   margin: 1em 0em;
   font-size: 2em;
}

h2 {
   display: block;
   margin: 2em 5.1em;
   font-size: 1.5em;
   padding: 0px;
   float: right;
   position: relative;
   left: -120px;
   text-align: left;
}

fieldset h6 {
   font-size: .8em;
   margin: 0em;
}

fieldset p {
   display: block;
   font-size: 0.5em;
   margin: 0px 0px 0px 60.5%;
   float: right;
   text-align: right;
}

fieldset {
   display: block;
   font-size: 1em;
   margin: 20px 10px 10px 47em;
   position: relative;
   bottom: 13em;
}

fieldset label {
   display: block;
}

fieldset input {
   display: block;
   margin: 0px 0px 0px 0%;
}

aside input[type="submit"], input[type="reset"] {
	display: block;
	height: 25px;
	width: 100px;
	margin-top: 420px;
    margin-left: 750px;
}

img{
   display: block;
   height: 250px;
   width: 400px;
   float: left;
   clear: left;
   margin: -40px 0px 40px -30%;
}


